#carousel-product {


  .carousel .slide img {
    height: 20rem;
    object-fit: contain;
  }

  // the wrapper at the bottom
  .carousel {
    text-align: center;
  }

  .carousel .thumb {
    height: 50px;
  }

}
