#footer {
  bottom: 0;
  background-color: rgb(52, 58, 64);
  padding: 2vh 2vh 2vh 2vh;
  color: rgba(255, 255, 255, 0.75);

  .list-group-item {
    background-color: rgb(52, 58, 64);
    border: none;
    padding: 1px;
  }

  .list-group-item:first-child {
    text-decoration: underline;
  }

  .list-group-item:not(:first-child) {
    font-weight: 100;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
  }

  .list-group-item:not(:first-child):hover {
    color: rgba(255, 255, 255, 0.75);
  }

  #logo {
    font-size: 25px;
  }

  .fa-instagram-square {
    margin-left: 10px;
  }

}
