#navbar {
  color: rgba(255, 255, 255, 0.75);


  .navbar-logo {
    max-height: 2rem;
    width: auto;
  }

  .list-group-item:not(:first-child):hover {
    color: rgba(255, 255, 255, 0.5);
  }

  .dropdown-box {
    z-index: 999;
  }

}
