#searchbar {
  // background: rgb(14, 197, 255);
  height: 4.4rem;
  background: linear-gradient(0.25turn, #0EC5FF, #ebf8e1, #f69d3c);
  animation: pulse 2s ease infinite;
  // background-size: 100% 100%;


}
