#side-summary {
  min-height: calc(100vh - 283px);



  table>thead>tr>th {
    border-top: none;
  }

  .points {
    font-weight: bold;
    color: blue;
  }

  .grand-total {
    font-weight: bold;
    // color: red;
  }
}
