#side-summary {
  // min-height: calc(100vh - 283px);



  table>thead>tr>th {
    border-top: none;
  }

  .points {
    font-weight: bold;
    color: blue;
  }

  .sub-total {
    border-top: 2px solid black;

  }


  .grand-total {
    font-weight: bold;
    border-top: 3px solid black;
  }

  .grand-total-amt {
    border-bottom: 3px double black;
  }

}
