#admin-index {
  min-height: calc(100vh - 263px);

  .text-format {
    font-weight: 200;
    border: 1px solid #ced4da;

  }

  .text-format:hover {
    cursor: pointer;
    background: #eceff1;
  }
}
