#pages-home {

  p {
    margin-bottom: 0rem;
  }

  .points {
    border-right: 1px solid black;
    flex-wrap: wrap;
  }

  .delivery {
    flex-wrap: wrap;
  }

  .fa-pied-piper-pp {
    font-size: 25px;
  }

  .fa-truck {
    font-size: 25px;
  }

}
