#product-index {
  min-height: calc(100vh - 267px);


  .card {
    // padding: 1rem;
    // width: 18rem;
    padding-left: none;
    padding-right: none;
    ;
  }

  .fa-heart {
    font-size: 1.2rem;
    // vertical-align: baseline;
  }

  .fas.fa-heart {
    font-size: 1.2rem;
    // vertical-align: baseline;
    color: red
  }
}
