// .click-disabled {
//   pointer-events: none;
// }

// .click-auto {
//   pointer-events: auto;
// }

.cursor-icon {
  cursor: pointer
}

.fa-trash-alt {
  color: red;
}

.fa-trash-alt:hover,
.fa-clone:hover {
  cursor: pointer;
}
